{% extends 'index.html' %} 

{% block half %}
{% endblock %}

{% block content %} 
<font color="orange">{{output}}</font>
<form method="POST" action="/forgetpassword/">
{% csrf_token %}

<div style="background-color: rgb(68, 187, 187);height:350px;color: white; font-size: medium;">
<center>
<h2>--Login Here--</h2>  <br><br><br>

<label>Username : </label> 
<input type="text" name="username" placeholder="enter username"> <br><br><br>

<input type="submit" value="password">
</center>
</div>

</form>
{% endblock %}
